img {
    height: 120px;
}

.sidenav-container {
    height: 100%;
}
  
.sidenav {
    width: 200px;
}
  
.sidenav .mat-toolbar {
    background: inherit;
}
  
.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}
  
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }
