<p-toast></p-toast>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <app-mainmenu [isLogin]="isLogin"></app-mainmenu>

  </mat-sidenav>

  <mat-sidenav-content>

    <mat-toolbar style="background-color: rgb(43, 14, 88);">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon style="font-size: 30px; color:whitesmoke" aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <app-loginform style="margin-bottom: 30px;"></app-loginform>
      <span style="padding:20px; color:whitesmoke;">Perfect Match</span>

    </mat-toolbar>

    <!-- Add Content Here -->
    <p-dataView [value]="displayedProjects" layout="grid" [loading]="isLoading">
      <ng-template pTemplate="header">
        <p-dropdown [options]="sortOptions" [(ngModel)]='selectedOption' placeholder="Sort By Compensation" (onChange)="onSortChange($event)"
          styleClass="p-mb-2 p-mb-md-0"></p-dropdown>&nbsp;
        <p-dropdown [options]="areaOptions" [(ngModel)]='areaOptionSelect' placeholder="Filter By Area" (onChange)="onAreaChange($event)"
          styleClass="p-mb-2 p-mb-md-0"></p-dropdown>&nbsp;
        <span class="p-input-icon-left p-mb-2 p-mb-md-0" style="margin-top: 10px;">
          <i class="pi pi-search"></i>
          <input type="search" pInputText placeholder="Search by Name" [(ngModel)]='searchNameString' (input)="searchNameEvent($event)">
        </span>&nbsp;
        <span class="p-input-icon-left p-mb-2 p-mb-md-0" style="margin-top: 10px;">
          <i class="pi pi-search"></i>
          <input type="search" pInputText placeholder="Search by Industry" [(ngModel)]='searchIndustryString' (input)="searchIndustryEvent($event)">
        </span>&nbsp;
        <span class="p-input-icon-left p-mb-2 p-mb-md-0" style="margin-top: 10px;">
          <i class="pi pi-search"></i>
          <input type="search" pInputText placeholder="Search by Skills" [(ngModel)]='searchSkillsString' (input)="searchSkillsEvent($event)">
        </span>
        &nbsp;
        <button style="display:inline-block" (click)="reset()" mat-stroked-button>
          <mat-icon style="color: grey">refresh</mat-icon>
          Reset
        </button>
      </ng-template>
      <ng-template let-project pTemplate="gridItem"
        style="display: flex; justify-content: center; align-items: center;">
        <div *ngIf="!project.isComplete" class="p-col-2" style="margin: 10px 10px 10px 10px;">
          <mat-card>
            <mat-card-title>{{project.title}}</mat-card-title>
            <mat-card-subtitle>{{project.industry}}</mat-card-subtitle>
            <img *ngIf="project.industry === 'EDUCATION'" mat-card-image src="../../../assets/images/education.jpg">
            <img *ngIf="project.industry === 'FINANCE'" mat-card-image src="../../../assets/images/finance.jpg">
            <img *ngIf="project.industry === 'ENGINEERING'" mat-card-image src="../../../assets/images/engineering.jpg">
            <img *ngIf="project.industry === 'MARKETING'" mat-card-image src="../../../assets/images/marketing.jpg">
            <img *ngIf="project.industry === 'SOFTWARE_DEV'" mat-card-image
              src="../../../assets/images/softwaredev.jpg">
            <img *ngIf="project.industry === 'MEDIA'" mat-card-image src="../../../assets/images/media.jpg">
            <img *ngIf="project.industry === 'TOURISM'" mat-card-image src="../../../assets/images/tourism.jpg">
            <mat-card-content>
              Compensation: ${{project.pay}}
              <div *ngIf="project.earliestStartDate !== undefined">
                <br>
                Earliest start date:<br>{{project.earliestStartDate | date: 'dd-MM-yyyy'}}
              </div>
              <div *ngIf="project.latestStartDate !== undefined">
                <br>
                Latest start date:<br>{{project.latestStartDate | date: 'dd-MM-yyyy'}}
              </div>
            </mat-card-content>
            <mat-card-actions style="text-align: right;">
              <button *ngIf="bookmarked(project) == false" style="width:10px; display:inline-block"
                (click)="addToFavorites(project)" mat-icon-button>
                <mat-icon>favorite_border</mat-icon>
              </button>
              <button style="width:10px; display:inline-block" *ngIf="bookmarked(project) == true"
                (click)="removeFromFavourites(project)" mat-icon-button>
                <mat-icon [ngStyle]="{'color':'red'}">favorite</mat-icon>
              </button>
              &nbsp;
              <button mat-raised-button routerLink="/postings/viewProjectDetails/{{project.postingId}}">Details</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </ng-template>
      <ng-template pTemplate="footer">
      </ng-template>
    </p-dataView>
  </mat-sidenav-content>
</mat-sidenav-container>
