<p-toast></p-toast>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <app-mainmenu [isLogin]="isLogin"></app-mainmenu>

  </mat-sidenav>

  <mat-sidenav-content>

    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <app-loginform style="margin-bottom: 30px;"></app-loginform>
      <span>PerfectMatch</span>

    </mat-toolbar>

    <!-- Add Content Here -->
    <p-dataView #dv [value]="offers" layout="grid" [loading]="isLoading">
      <ng-template let-offer pTemplate="gridItem"
        style="display: flex; justify-content: center; align-items: center;">
        <div class="p-col-2" style="margin: 10px 10px 10px 10px;">
          <mat-card>
            <mat-card-title>{{offer.posting.title}}</mat-card-title>
            <mat-card-subtitle>{{offer.posting.industry}}</mat-card-subtitle>
            <img *ngIf="offer.posting.industry === 'EDUCATION'" mat-card-image src="../../../assets/images/education.jpg">
            <img *ngIf="offer.posting.industry === 'FINANCE'" mat-card-image src="../../../assets/images/finance.jpg">
            <img *ngIf="offer.posting.industry === 'ENGINEERING'" mat-card-image src="../../../assets/images/engineering.jpg">
            <img *ngIf="offer.posting.industry === 'MARKETING'" mat-card-image src="../../../assets/images/marketing.jpg">
            <img *ngIf="offer.posting.industry === 'SOFTWARE_DEV'" mat-card-image src="../../../assets/images/softwaredev.jpg">
            <img *ngIf="offer.posting.industry === 'MEDIA'" mat-card-image src="../../../assets/images/media.jpg">
            <img *ngIf="offer.posting.industry === 'TOURISM'" mat-card-image src="../../../assets/images/tourism.jpg">
            <mat-card-content>
              Message: {{offer.offerMessage}}
              Monthly Salary: ${{offer.posting.pay}}
              Status: {{offer.offerStatus}}
            </mat-card-content>
            <mat-card-actions style="text-align: right;">
              <!-- <button mat-raised-button routerLink="/offer/viewOffer/{{offer.offerId}}">Details</button> -->
            </mat-card-actions>
          </mat-card>
        </div>
      </ng-template>
      <ng-template pTemplate="footer">
      </ng-template>
    </p-dataView>
  </mat-sidenav-content>
</mat-sidenav-container>
