<p-toast></p-toast>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <app-mainmenu [isLogin]="isLogin"></app-mainmenu>

  </mat-sidenav>

  <mat-sidenav-content>

    <mat-toolbar style="background-color: rgb(43, 14, 88);">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon style="font-size: 30px; color:whitesmoke;" aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <app-loginform style="margin-bottom: 30px;"></app-loginform>
      <span style="padding:20px; color:whitesmoke;">Perfect Match</span>

    </mat-toolbar>
    <!-- Add Content Here -->
    <div style="display: flex; justify-content: space-evenly; padding: 30px 30px 30px 30px;">
      <div *ngIf='posting1 !== undefined' style="width: 40%;">
        <mat-card style="background-color: #f5eff7">
          <mat-card-title style="text-align: center; font-size: 30px;">
            {{posting1.title}}
          </mat-card-title>
          <div style='margin-bottom: 15px'></div>
          <mat-card-content>
            <mat-card>
              <mat-card-title>
                Start date
              </mat-card-title>
              <mat-card-content style="font-size: 18px;">
                Earliest: {{posting1.earliestStartDate | date:'dd-MM-yyyy'}}
                | Latest: {{posting1.latestStartDate | date:'dd-MM-yyyy'}}
              </mat-card-content>
            </mat-card>
            <div style='margin-bottom: 15px'></div>
            <mat-card>
              <mat-card-title>
                Description
              </mat-card-title>
              <mat-card-content style="font-size: 18px;">
                {{posting1.description}}
              </mat-card-content>
            </mat-card>
            <div style='margin-bottom: 15px'></div>
            <mat-card>
              <mat-card-title>
                Required Skills
              </mat-card-title>
              <mat-card-content *ngFor="let skill of posting1.requiredSkills" style="font-size: 18px;">
                {{skill}}
              </mat-card-content>
            </mat-card>
            <div style='margin-bottom: 15px'></div>
            <mat-card>
              <mat-card-title>
                Project Specialisation
              </mat-card-title>
              <mat-card-content style="font-size: 18px;">
                {{posting1.projectSpecialisation}}
              </mat-card-content>
            </mat-card>
            <div style='margin-bottom: 15px'></div>
            <mat-card>
              <mat-card-title>
                Compensation
              </mat-card-title>
              <mat-card-content style="font-size: 18px;">
                ${{posting1.pay}}
              </mat-card-content>
            </mat-card>
          </mat-card-content>
        </mat-card>
      </div>


      <div *ngIf='posting2 !== undefined' style="width: 40%;">
        <mat-card style="background-color: #f5eff7">
          <mat-card-title style="text-align: center; font-size: 30px;">
            {{posting2.title}}
          </mat-card-title>
          <div style='margin-bottom: 15px'></div>
          <mat-card-content>
            <mat-card>
              <mat-card-title>
                Start date
              </mat-card-title>
              <mat-card-content style="font-size: 18px;">
                Earliest: {{posting2.earliestStartDate | date:'dd-MM-yyyy'}}
                | Latest: {{posting2.latestStartDate | date:'dd-MM-yyyy'}}
              </mat-card-content>
            </mat-card>
            <div style='margin-bottom: 15px'></div>
            <mat-card>
              <mat-card-title>
                Description
              </mat-card-title>
              <mat-card-content style="font-size: 18px;">
                {{posting2.description}}
              </mat-card-content>
            </mat-card>
            <div style='margin-bottom: 15px'></div>
            <mat-card>
              <mat-card-title>
                Required Skills
              </mat-card-title>
              <mat-card-content *ngFor="let skill of posting2.requiredSkills" style="font-size: 18px;">
                {{skill}}
              </mat-card-content>
            </mat-card>
            <div style='margin-bottom: 15px'></div>
            <mat-card>
              <mat-card-title>
                Project Specialisation
              </mat-card-title>
              <mat-card-content style="font-size: 18px;">
                {{posting2.projectSpecialisation}}
              </mat-card-content>
            </mat-card>
            <div style='margin-bottom: 15px'></div>
            <mat-card>
              <mat-card-title>
                Compensation
              </mat-card-title>
              <mat-card-content style="font-size: 18px;">
                ${{posting2.pay}}
              </mat-card-content>
            </mat-card>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
