<mat-toolbar>Menu</mat-toolbar>
<mat-nav-list>
  <a mat-list-item routerLink="/index">Home</a>
  <a *ngIf="!isLogin" mat-list-item routerLink="/register">Register</a>
  
  <!-- For ease of navigation during development -->
  <!-- <div>
    <a mat-list-item routerLink="/viewAllJobs">Jobs</a>
    <a mat-list-item routerLink="/viewProfile">Profile</a>
    <a mat-list-item routerLink="/viewProjects">Projects</a>
  </div> -->

  <div *ngIf="isLogin">
    <a mat-list-item routerLink="/viewAllJobs">Jobs</a>
    <a mat-list-item routerLink="/viewProfile">Profile</a>
    <a mat-list-item routerLink="/viewProjects">Projects</a>
  </div>
</mat-nav-list>
