<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <app-mainmenu [isLogin]="isLogin"></app-mainmenu>

  </mat-sidenav>

  <mat-sidenav-content>

    <mat-toolbar style="background-color: rgb(43, 14, 88);">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon style="font-size: 30px; color:whitesmoke;" aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <app-loginform style="margin-bottom: 30px;" (childEvent)="setIsLogin($event)"></app-loginform>
      <span style="padding:20px; color:whitesmoke;">Perfect Match</span>

    </mat-toolbar>

    <!-- Add Content Here -->
    <div style="text-align:center; padding:155px 50px; background-image: url(../../assets/images/office.jpeg);"
      class="title-div">
      <h1 class="perfect-match-title" style="font-size: 50px;">
        Perfect Match
      </h1>
      <p class="introduction"><i>Connecting new enterprises to new talent.</i></p>
    </div>

    <mat-divider></mat-divider>

    <div class="features" style="padding:20px 10px;">
      <div class="feature-row">
        <div class="feature-column">
          <h3>Discover your Fit</h3>
          <br />
          <p class="feature-p">A comfortable space to explore your options.
          </p>
        </div>
        <mat-divider [vertical]="true" style="height:170px"></mat-divider>

        <div class="feature-column">
          <h3>Grow Your Skills</h3>
          <br />
          <p class="feature-p">Immerse yourself in in the fast-paced and vibrant start-up environment.
          </p>
        </div>
        <mat-divider [vertical]="true" style="height:170px"></mat-divider>

        <div class="feature-column">
          <h3>Track Work Experience</h3>
          <br />
          <p class="feature-p">Keep a repository of past work and employer reviews.
          </p>
        </div>
      </div>
    </div>

    <hr />

    <div style="text-align: center; padding-bottom: 7%;">
      <h1 style="font-size: 35px;">Contact Us</h1>
      <i style="text-align: center; font-size: 15px;">Drop us an email, the Perfect Match team is just a click away.</i>
      <div style="text-align: center; padding-top: 35px;">
        <button mat-raised-button href="mailto:perfectMatch_enquiries@gmail.com">General enquiries</button>
        &nbsp;&middot;&nbsp;
        <button mat-raised-button href="mailto:perfectMatch_partnerships@gmail.com">Collaborate with us</button>
        &nbsp;&middot;&nbsp;
        <button mat-raised-button href="mailto:perfectMatch_recruitment@gmail.com">Join our team</button>
      </div>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>