mat-grid-tile { 
  border-style: solid;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

mat-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
}
.signin-content {
  padding: 60px 1rem;
}
.full-width-input {
  width: 100%;
}


.feature-row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.feature-column {
      width: 33%;
      float: left;
      text-align: center;
      padding-top: 10px;
      padding-bottom: 10px;
}

.feature-p {
  padding: 0 10px;

}

h3 {
  font-size: 26px;
  margin-bottom: 0px;
}

.mat-icon {
  font-size: 66px;
}

hr {
  border: dotted #e0e0e0 6px;
  border-bottom: none;
  width: 4%;
  margin: 30px auto 50px auto;
}