<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <app-mainmenu></app-mainmenu>

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>PerfectMatch</span>
      <div style="position: fixed; right: 2%;">
        Registration
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <form style="margin-top: 30px; margin-left: 20px;">
      <div style="width: 30%; float: left;">
        <br/> 
        <span class="p-float-label">
          <input id="float-input" type="text" pInputText>
          <label for="float-input">Name</label>
        </span>
        <br/> <br/>
        <span class="p-float-label">
          <input id="float-input" type="text" pInputText>
          <label for="float-input">Email</label>
        </span>
        <br/> <br/>
        <span class="p-float-label">
          <input id="float-input" type="password" pInputText>
          <label for="float-input">Password</label>
        </span>
        <br/> <br/>
        <span class="p-float-label">
          <input id="float-input" type="text" pInputText>
          <label for="float-input">Educational Institute</label>
        </span>
        <br/> <br/>
        <span class="p-float-label">
          <input id="float-input" type="text" pInputText>
          <label for="float-input">Course of Study</label>
        </span>
        <br/> <br/>
        <span class="p-float-label">
          <input id="float-input" type="number" pInputText>
          <label for="float-input">Year of Study</label>
        </span>
      </div>
      
      <div style="width: 30%; float: left;"> 
        <label for="gradYear">Projected Graduation Year</label>
        <br/>
        <input id="gradYear" type="date" pInputText>
        <br/><br/>
        <label for="startDate">Start Date</label>
        <br/>
        <input id="startDate" type="date" pInputText>
        <br/><br/>
        <label for="endDate">End Date</label>
        <br/>
        <input id="endDate" type="date" pInputText>
        <br/><br/>
      </div>

      <div style="width: 30%; float: left;"> 
        <br/>
        <span class="p-float-label">
          <textarea id="float-input" [rows]="7" [cols]="30" pInputTextarea autoResize="autoResize"></textarea>
          <label for="float-input">Biography</label>
        </span>
        <br/>
        <label for="skills">Skills</label>
        <br/>
        <input type="skill" id="skill" name="skill"  class="form-control" [(ngModel)]="newSkill" pInputText>
        <button mat-raised-button (click)="addSkill()">Add</button>
        <ul>
          <li *ngFor="let skill of relevantSkills">
            {{newSkill}}
          </li>
        </ul>
      </div>
    </form>

    <!-- 
    relevantSkills: string[] | undefined; -->
  </mat-sidenav-content>
</mat-sidenav-container>
